@{ 
    Layout = "_LayoutCate";
}
<style>
    h3{
        text-decoration:none;
    }
</style>

<h3>Bạn đã đăng nhập thành công, quay lại trang chủ <a asp-controller="product" asp-action="index">tại đây</a></h3>